# Python cache
__pycache__/
*.pyc

# C binaries & object files
server-c/*.o
server-c/src/*.o
server-c/chess_server

# Build / executable
*.exe
*.out
*.a
*.so

# Logs
*.log

# Node modules
client--/node_modules/
.DS_Store
